@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700&subset=cyrillic');

* {
    -fx-font-family: 'Ubuntu';
}

.syntax-text-area {
    -fx-background-color: #303232;
    -fx-background-fill: #A9B7C6;
    -fx-cursor: text;
}

.syntax-text-area .paragraph-box:has-caret {
    -fx-background-color: #1c1e1e;
}

.syntax-text-area .text {
    -fx-fill: #A9B7C6;
}

.syntax-text-area .gutter {
    -fx-background-color: #303232;
    -fx-border-color: #292929;
    -fx-border-width: 0 1px 0 0;
}

.syntax-text-area .caret {
    -fx-stroke: #F3F3F3;
}

.syntax-text-area .text.semicolon {
    -fx-fill: #CC7832;
}

.syntax-text-area .text.control, .syntax-text-area .text.operator {
    -fx-fill: #A9B7C6;
}

.syntax-text-area .text.comment {
    -fx-fill: #808080;
    -fx-font-style: italic;
}

.syntax-text-area .text.keyword {
    -fx-fill: #CC7832;
    -fx-font-weight: medium;
}

.syntax-text-area .text.string {
    -fx-fill: #6A8759;
}

.syntax-text-area .text.number {
    -fx-fill: #6897BB;
}

.syntax-text-area .text.variable {
    -fx-fill: #9876AA;
}

.syntax-text-area .text.label {
    -fx-fill: #A9B7C6;
}