@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

.root {

    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(50, 50, 50);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(50, 50, 50);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: #333;

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);

    -fx-font-smoothing-type: gray; 
    -fx-smoothing-type: gray; 
    -fx-focus-color: #b3b3b3;
    -fx-faint-focus-color: #b3b3b301;
    -fx-control-inner-background: derive(-fx-base, 7%);
    -fx-control-inner-background-alt: derive(-fx-base, 15%);
    -fx-color: -fx-base;
    
    // Цвет border у табличных элементов
    -fx-box-border: ladder(
        -fx-color,
        black 5%,
        derive(-fx-color,-7%) 30%
    );
    // Цвет border у текстовых элементов
    -fx-text-box-border: ladder(
        -fx-color,
        black 5%,
        derive(-fx-color,-7%) 30%
    );
    -fx-outer-border: derive(-fx-color, -13%);
    -fx-body-color: linear-gradient(to bottom,
            ladder(
                -fx-color,
                derive(-fx-color,8%) 75%,
                derive(-fx-color,10%) 80%
            ),
            derive(-fx-color,-2%));

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

* {
    -fx-font-family: 'Roboto';
}

.bg-white {
    -fx-background-color: #fff;
}
.bg-gray {
    -fx-background-color: #fbfbfb;
}
.bg-dark {
    -fx-background-color: #444;
}

.font-light {
    -fx-font-family: "Source Sans Pro Light";
}
.font-regular {
    -fx-font-family: "Source Sans Pro Regular";
}
.font-bold {
    -fx-font-family: "Source Sans Pro SemiBold";
}

.font-accent {
    -fx-text-fill: -fx-accent;
}
.font-warning {
    -fx-text-fill: -fx-warning;
}
.font-green {
    -fx-text-fill: -fx-green;
}
.font-gray {
    -fx-text-fill: #999999;
}

.font-h3 {
    -fx-font-size: 1.5em;
    -fx-font-family: "Source Sans Pro Light";
}

.bars {
    -fx-border-radius: 2px;
    -fx-border-color: derive(-fx-outer-border, 20%);
    -fx-background-radius: 2px;
    -fx-background-color: derive(-fx-background, -2%);
}
.bars-accent  {
    -fx-border-color: -fx-accent;
}
.bars-warning {
    -fx-border-color: -fx-warning;
}

.nd-plugin-panel * {
    -fx-text-fill: #fff;
}
.nd-plugin-panel  {
    -fx-background-color: #333;
}


.table-view,
.tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: derive(-fx-base, -5%);
    -fx-table-cell-border-color: derive(-fx-base, -5%);
}
.table-view .column-header,
.tree-table-view .column-header,
.table-view .filler,
.tree-table-view .filler,
.table-view > .column-header-background > .show-hide-columns-button,
.tree-table-view > .column-header-background > .show-hide-columns-button,
.table-view:constrained-resize .filler,
.tree-table-view:constrained-resize .filler {
    -fx-font-family: "Source Sans Pro SemiBold";
}



.tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: #fff;
}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #2d2d2d;
}
.tab-pane:top > .tab-header-area {
    -fx-padding: 0.616667em 5 0.0em 0.616667em; /* 5 2 0 5 */
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #3a3a3a;
}


.button {
    -fx-font-family: "Source Sans Pro Regular";
    -fx-background-color: #333;
    -fx-text-fill: #fff;
}
.accent-btn {
    -fx-background-color: #088acc;
    -fx-text-fill: #fff;
    -fx-font-family: "Source Sans Pro SemiBold";
}
.warning-btn {
    -fx-background-color: #d6312b;
    -fx-text-fill: #fff;
    -fx-font-family: "Source Sans Pro SemiBold";
}
.green-btn {
    -fx-background-color: #55bd63;
    -fx-text-fill: #fff;
    -fx-font-family: "Source Sans Pro SemiBold";
}

.stop-btn {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
}

.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    
}
.text-input:focused {
    -fx-background-insets: -0.2, 1, -1.4, 1;
}


.text-area:focused .content {
    -fx-background-insets: 0, 0, 0;
    -fx-focus-color: null;
}
.text-area:focused > .scroll-pane {
    -fx-focus-color: null;
    -fx-background-color: null;
}


combo-box-base:editable:focused > .text-field,
.combo-box-base:editable > .text-field:focused,
.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 1 1 1 1;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #333;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/* Right Arrow */    
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

/*******************************************************************************
 *                                                                             *
 * Scroll Pane                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}


/*******************************************************************************
 *                                                                             *
 * Arrows                                                                        *
 *                                                                             *
 ******************************************************************************/
 
.arrow_but {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
    -fx-min-height:0;
    -fx-min-width:0;
    -fx-background-color:black;
    -fx-border-color:transparent;
    -fx-background-insets: 0;
} 

.arrow_but:hover {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
    -fx-min-height:0;
    -fx-min-width:0;
    -fx-background-color:gray;
    -fx-border-color:transparent;
    -fx-background-insets: 0;
}

.arrow_but:pressed {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
    -fx-min-height:0;
    -fx-min-width:0;
    -fx-background-color:#333333;
    -fx-border-color:transparent;
    -fx-background-insets: 0;
}

.styled-text-area {
    -fx-font-size: 14;
    -fx-background-color: #333;
    -fx-font-smoothing-type: gray;
}


/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

.menu-bar {
    -fx-background-color: #2d2d2d;
}

.split-pane *.split-pane-divider {
    -fx-background-color: #2d2d2d;
}

.context-menu {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #fff;
    -fx-border-width: 0;
}